/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	color: rgb(185, 183, 183);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(26, 26, 26);
	font-family: 'Ubuntu', sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.center {
	margin: auto;
	text-align: center;
}
